<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 80%; overflow: auto; flex: 1 1 0%;">
    <section fxFlex fxLayout="row" fxLayoutAlign="center">
        <mat-card fxFlex.xs="100%" fxFlex="90%">
            <mat-card-content>
                <div class="edit-container" [formGroup]="usuarioForm">
                    <div class="edit-loading-shade" *ngIf="isLoading">
                        <mat-spinner *ngIf="isLoading"></mat-spinner>
                    </div>

                    <div class="edit-loading-shade" *ngIf="!isLoading && !usuario">No se encontraron los datos del usuario</div>

                    <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">
                        <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                            <input matInput id="username" formControlName="username" placeholder="Nombre de Usuario" required>
                            <mat-hint align="end">{{usuarioForm.get('username').value.length || 0}}</mat-hint>
                            <mat-error *ngIf="usuarioForm.get('username').invalid && (usuarioForm.get('username').dirty || usuarioForm.get('username').touched)">
                                <span *ngIf="usuarioForm.get('username').errors.required">El Nombre de Usuario es obligatorio</span>
                                <span *ngIf="usuarioForm.get('username').errors.minlength">Debe contener al menos 4 caracteres</span>
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex fxFlex.xs="100" appearance="fill">
                            <input matInput id="email" formControlName="email" placeholder="Correo Electronico" required>
                            <mat-error *ngIf="usuarioForm.get('email').invalid && (usuarioForm.get('email').dirty || usuarioForm.get('email').touched)">
                                <span *ngIf="usuarioForm.get('email').errors.required">El Correo Electronico es obligatorio</span>
                                <span *ngIf="usuarioForm.get('email').errors.email">Formato incorrecto</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                        
                    
                    
                    <div fxLayout="row" fxLayout.xs="column">
                        <mat-form-field  fxFlex fxFlex.xs="100" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input matInput id="password" formControlName="password" placeholder="Contraseña" [type]="hidePassword ? 'password' : 'text'" >
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint align="end">{{usuarioForm.get('password').value.length || 0}}</mat-hint>
                            <mat-error *ngIf="usuarioForm.get('password').invalid && (usuarioForm.get('password').dirty || usuarioForm.get('password').touched)">
                                <span *ngIf="usuarioForm.get('password').errors.minlength">Debe contener al menos 6 caracteres</span>
                                <span *ngIf="usuarioForm.get('password').errors.required">La Contraseña es obligatoria</span>
                            </mat-error>
                        </mat-form-field>

                    </div>
                    
                </div>
            </mat-card-content>
            <mat-card-actions>
                <span fxFlex></span>
                <button mat-raised-button routerLink="/usuarios">Cancelar</button>
                <button mat-raised-button (click)="accionGuardar()" color="accent" [disabled]="!usuarioForm.valid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
            </mat-card-actions>
        </mat-card>
    </section>
</section>