<br>
<section>
    <div  fxFill>
        <section fxLayout fxLayoutAlign="center">
            <div class="vehiculos-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>

            <mat-card fxFlex.xs="100%" fxFlex="90%">

                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                    <mat-form-field appearance="fill">
                        <mat-date-range-input [rangePicker]="rangePicker">
                            <input matStartDate [(ngModel)]="filtros.rango_fechas.inicio" placeholder="Fecha de Ingreso (Desde)" readonly>
                            <input matEndDate [(ngModel)]="filtros.rango_fechas.fin" placeholder="Fecha de Ingreso (Hasta)" readonly>
                        </mat-date-range-input>
                        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                        <mat-date-range-picker #rangePicker disabled="false">
                            <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel>Cancelar</button>
                            <button mat-raised-button color="primary" matDateRangePickerApply (click)="checarFechasFiltro()">Aplicar</button>
                            </mat-date-range-picker-actions>
                        </mat-date-range-picker>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Buscar Modelo del Vehículo</mat-label>
                        <input matInput [(ngModel)]="filtros.modelo" (keyup.escape)="cleanSearch()" (keyup.enter)="aplicarFiltro()" placeholder="Buscar Modelo del Vehículo...">
                        <button matSuffix *ngIf="filtros.modelo" mat-icon-button (click)="cleanSearch()" [attr.aria-label]="'Clean Query'" [attr.aria-pressed]="'cleanQuery'">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button mat-icon-button matSuffix (click)="aplicarFiltro()">
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-form-field>

                </div>


                <div fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap.gt-sm="10px">

                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="filtros.marcas" (selectionChange)="aplicarFiltro()">
                            <mat-option [value]="false">Todas las Marcas</mat-option>
                            <mat-option *ngIf="filtrosCatalogos.marcas.length == 0" [value]="" disabled>Sin Marcas Asignadas</mat-option>
                            <mat-option *ngFor="let marca of filtrosCatalogos.marcas" [value]="marca.id">
                                {{marca.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-select [(ngModel)]="filtros.colores" (selectionChange)="aplicarFiltro()">
                            <mat-option [value]="false">Todos los Colores</mat-option>
                            <mat-option *ngIf="filtrosCatalogos.colores.length == 0" [value]="" disabled>Sin Colores Asignados</mat-option>
                            <mat-option *ngFor="let color of filtrosCatalogos.colores" [value]="color.id">
                                {{color.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="15%">
                        <mat-select id="estado" [(ngModel)]="filtros.estado" placeholder="¿Cuál es el Estado del Vehículo?" (selectionChange)="aplicarFiltro()">
                            <mat-option [value]="false">Todos los Estados</mat-option>
                            <mat-option value="true">Activo</mat-option>
                            <mat-option value="false">Inactivo</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill" fxFlex="15%">
                        <mat-select id="asignado" [(ngModel)]="filtros.asignado" placeholder="¿Esta Asignado el Vehículo?" (selectionChange)="aplicarFiltro()">
                            <mat-option [value]="false">Todos las Asignaciones</mat-option>
                            <mat-option value="true">Si</mat-option>
                            <mat-option value="false">No</mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>                

                <div>
                    <div fxFlex>
                        <button mat-raised-button (click)="limpiarFiltro()" matTooltip="Limpiar Filtros"><mat-icon>cleaning_services</mat-icon></button>
                    </div>
                    <div fxFlex="none">
                        <button mat-raised-button color="primary" routerLink="/vehiculos/nuevo"><mat-icon>add_circle</mat-icon> Crear Vehículo</button>
                    </div>
                </div>
                <br>

                <mat-divider [inset]="true"></mat-divider>

                <div class="vehiculos-container">
                    <div class="vehiculos-table-container">
                        <table mat-table [dataSource]="dataSource" class="vehiculos-table" multiTemplateDataRows matSort>
                            <!-- Marca Column -->
                            <ng-container matColumnDef="marca">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header fxHide.xs="xs"> Marca </th>
                                <td mat-cell *matCellDef="let row" fxHide.xs="xs"> {{row.marca?.nombre}} </td>
                            </ng-container>
                    
                            <!-- Modelo Column -->
                            <ng-container matColumnDef="modelo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modelo </th>
                                <td mat-cell *matCellDef="let row"> {{row.modelo}} </td>
                            </ng-container>

                            <!-- Color Column -->
                            <ng-container matColumnDef="color">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                                <td mat-cell *matCellDef="let row"> {{row.color?.nombre}} </td>
                            </ng-container>

                            <!-- Fecha de Ingreso Column -->
                            <ng-container matColumnDef="fecha_ingreso">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Ingreso </th>
                                <td mat-cell *matCellDef="let row"> {{row.fecha_ingreso | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <!-- Estado Column -->
                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿Esta Activo? </th>
                                <td mat-cell *matCellDef="let row"> {{(row.estado === true)?'Si':'No'}} </td>
                            </ng-container>

                            <!-- Asignado Column -->
                            <ng-container matColumnDef="asignado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ¿Esta Asignado? </th>
                                <td mat-cell *matCellDef="let row"> {{(row.asignado === true)?'Si':'No'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="opciones" >
                                <th mat-header-cell *matHeaderCellDef>Opciones</th>
                                <td mat-cell *matCellDef="let row; let i = index">
                                    <button mat-button mat-stroked-button [matMenuTriggerFor]="menu">Opciones</button>
                                    <mat-menu #menu="matMenu">

                                        <button mat-menu-item matTooltip="Editar Vehículo" routerLink="/vehiculos/editar/{{row.id}}"><mat-icon color="primary">edit</mat-icon>Editar</button>
                                        <button mat-menu-item matTooltip="Eliminar Vehículo" (click)="confirmDeleteVehiculo(row.id)"><mat-icon color="warn">delete</mat-icon>Eliminar</button>
                                    </mat-menu>
                                    
                                </td>
                            </ng-container>
                

                            <ng-container matColumnDef="noResultsFound">
                                <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
                                    No se encontraron registros
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <tr mat-footer-row *matFooterRowDef="['noResultsFound']" class="no-results-found" [ngClass]="{'hide':!(dataSource!=null && dataSource.length==0)}"></tr>
                        </table>
                    </div>
                    <mat-paginator #paginator pageSize="20" [pageIndex]="currentPage" [length]="resultsLength" [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons (page)="pageEvent = loadVehiculosData($event)"></mat-paginator>
                </div>
            </mat-card>
        </section>
    </div>
</section>