<h1 mat-dialog-title><span *ngIf="colores.id">Editar</span> <span *ngIf="!colores.id">Nueva</span> Marca</h1>
<div mat-dialog-content>
    <div class="form-container" [formGroup]="colorForm">
        <div class="form-loading-shade" *ngIf="isLoading"><mat-spinner *ngIf="isLoading"></mat-spinner></div>

        <div class="form-loading-shade" *ngIf="!isLoading && !colores">No se encontraron los datos de la Color</div>
        <br>

        <mat-form-field>
            <input matInput id="nombre" formControlName="nombre" placeholder="Nombre" required>
            <mat-error *ngIf="colorForm.get('nombre').invalid && (colorForm.get('nombre').dirty || colorForm.get('nombre').touched)">
                <span *ngIf="colorForm.get('nombre').errors.required">El nombre es obligatorio</span>
            </mat-error>
        </mat-form-field>

    </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
    <span fxFlex></span>
    <button mat-button (click)='onNoClick()'>Cancelar</button>
    <button mat-raised-button (click)="saveColor()" color="primary" [disabled]="colorForm.invalid || isLoading"><mat-icon>save</mat-icon> Guardar</button>
</div>